.visualize-btn {
    width: calc(100%);
    height: 32px;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    background-color: #583a96 !important;
    font-weight: bold;
}

.close-btn {
    width: calc(100%);
    height: 32px;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    font-weight: bold;
    background-color: #583a96 !important;
}

.modal-headline {
    color: #38494d;
    margin-top: 15px;
    margin-bottom: 10px;
}

.content-field {
    height: 470px !important;
}

.northwestern-border:focus {
    border: 1px solid #583a96 !important;
    box-shadow: inset 0 0 0 1px #583a96 !important;
}

.northwestern-border:focus + label {
    color: #583a96 !important;
}