.visualize-btn {
    width: calc(100%);
    height: 32px;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    background-color: #583a96 !important;
    font-weight: bold;
}

.close-btn {
    width: calc(100%);
    height: 32px;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    font-weight: bold;
    background-color: #583a96 !important;
}

.modal-headline {
    color: #38494d;
    margin-top: 15px;
    margin-bottom: 10px;
}

.content-field {
    height: 430px !important;
}

.corpusa-border:focus {
    border: 1px solid #7F9DEE !important;
    box-shadow: inset 0 0 0 1px #7F9DEE !important;
}

.corpusa-border:focus + label {
    color: #7F9DEE !important;
}

.corpusb-border:focus {
    border: 1px solid #c4c5cb !important;
    box-shadow: inset 0 0 0 1px #c4c5cb !important;
}

.corpusb-border:focus + label {
    color: #c4c5cb !important;
}

.corpus-btn {
    width: calc(100%);
    height: 32px;
    line-height: 32px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0;
    font-weight: bold;
}

.corpusa-div {
    background-color: #7F9DEE;
    width: calc(100%);
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.corpusb-div {
    background-color: #c4c5cb;
    width: calc(100%);
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}