.visualize-btn {
    width: calc(100%);
    height: 32px;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    background-color: #4972e5 !important;
    font-weight: bold;
}

.close-btn {
    width: calc(100%);
    height: 32px;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    font-weight: bold;
    background-color: #4972e5 !important;
}

.modal-headline {
    color: #38494d;
    margin-top: 15px;
    margin-bottom: 10px;
}


.content-field {
    height: 470px !important;
}